body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60px;
    margin-left: 15px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-header__container {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-button {
    position: absolute;
    top: 16px;
    right: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    margin-left: auto;
  }
  .menu-button:hover, .menu-button:focus {
    fill: #2196F3;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-top: 48px;
}

.mobile-menu__link {
  text-decoration: none;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__link--current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contacts__link {
  text-decoration: none;
}

.mobile {
  color: #2196F3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-socials__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-socials__item:not(:last-child)::after {
  content: '';
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
}

.page-header .page-header-logo:hover,
.page-header .page-header-logo:focus {
  cursor: pointer;
}

.page-header .logo-studio:hover,
.page-header .logo-studio:focus {
  color: #212121;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .page-header {
    min-height: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header__container {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__item:not(:last-child) {
    margin-right: 190px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .page-header__item.navigation {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

@media screen and (min-width: 320px) {
  .logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 40px;
    text-decoration: none;
  }
}

.page-header__logo-web {
  color: #2196F3;
}

/* Site-nav */
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin: 0;
  }
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link:hover,
.list a:hover {
  color: #2196F3;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item {
  position: relative;
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link--current {
  color: #2196F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__studio::after {
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
}

.site-nav__portfolio::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header-contact */
.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 0;
    padding-top: 0;
    text-decoration: none;
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: #2196F3;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.header-contact__link:hover, .header-contact__link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:last-child) {
    display: block;
    margin-right: 30px;
  }
}

.icon-header {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 320px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 320px) {
  .footer-container__element {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container__element {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container__element:nth-child(1) {
    margin-right: 70px;
  }
}

@media screen and (min-width: 320px) {
  .footer-container__element:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container__element:last-child {
    margin-left: 50px;
  }
}

/* .footer .footer-logo {
	display: block;
	margin-bottom: 20px;
} */
.page-footer__logo {
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .page-footer__logo {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    display: block;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.page-footer__logo-web {
  color: #2196F3;
}

a.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Address-list */
@media screen and (min-width: 320px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.address-list__item > .footer-address:hover,
.address-list__item > .footer-address:focus {
  color: #2196F3;
}

.address-list__item > .address-list__link:hover,
.address-list__item > .address-list__link:focus {
  color: #2196F3;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.add__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Footer-add */
.footer-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.footer-add__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff1a;
  margin-right: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add__item:last-child {
  margin-right: 0;
}

/* .list.footer-add{
	display: flex;
	align-items: center;
	margin-top: 20px;
} */
.footer-add__link:hover,
.footer-add__link:focus {
  background-color: #2196F3;
}

.footer-add__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add__link:hover, .footer-add__link:focus {
  background-color: #2196F3;
}

.add-icon {
  display: block;
  fill: currentColor;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

/* Footer Subscribe */
.subscribe__title {
  display: block;
  width: 219px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) {
  .subscribe__title {
    height: 16px;
    margin-bottom: 20px;
  }
}

/* Subscribe-form */
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: auto;
  }
}

.subscribe-form__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: #FFFFFF;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__email:focus-within, .subscribe-form__email:hover {
  outline: none;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .subscribe-form__email {
    margin: 0 auto 20px;
    min-width: 250px;
    height: auto;
    margin-bottom: 20px;
    max-width: 358px;
  }
}

@media screen and (min-width: 480px) {
  .subscribe-form__email {
    min-width: 330px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__email {
    display: inline-block;
    margin-right: 12px;
    max-width: 450px;
    height: 50px;
  }
}

.subscribe-form__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0;
  text-align: left;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button:hover, .subscribe-form__button:focus {
  -webkit-transform: scale(105%, 105%);
          transform: scale(105%, 105%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button > .subscribe-form__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 58px;
}

.subscribe-form__button > .button-send {
  position: absolute;
  top: 15px;
  right: 24px;
  fill: #FFFFFF;
}

.portfolio-section {
  padding-top: 94px;
}

@media screen and (min-width: 320px) {
  .portfolio-section {
    padding-top: 35px;
  }
}

.portfolio {
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) {
  .projects {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
  }
}

@media screen and (min-width: 480px) {
  .projects__item {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    margin-right: 8px;
  }
}

@media screen and (min-width: 320px) {
  .projects__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 480px) {
  .projects__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item:last-child {
    margin-right: 0;
  }
}

.projects__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  padding: 6px 22px;
  border: none;
  border-radius: 6px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__btn:hover, .projects__btn:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
}

/* Projects-cards */
.projects-cards {
  padding: 0;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (min-width: 480px) {
  .projects-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .projects-cards__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc( (100% - 2 * 30px) / 2);
    margin-bottom: 30px;
  }
  .projects-cards__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .projects-cards__item {
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-cards__item .projects-cards__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects-cards__item .projects-cards__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.projects-cards__item .projects-cards__page {
  display: block;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-cards__item .projects-cards__page:hover, .projects-cards__item .projects-cards__page:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-cards__item .projects-cards__page:hover .projects-cards__overlay,
.projects-cards__item .projects-cards__page:focus .projects-cards__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (min-width: 480px) {
  .projects-cards__item .projects-cards__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects-cards__item .projects-cards__thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .projects-cards__item .projects-card__img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .projects-cards__item .projects-card__img {
    width: 100%;
    height: auto;
  }
}

.projects-cards__item .projects-cards__overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-cards__item .projects-cards__description-overlay {
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.projects-cards__item .projects-cards__description {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .projects-cards__item .projects-cards__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.projects-cards__item .projects-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-cards__item .projects-cards__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.projects-cards__item .card-description {
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.projects-cards__item .portfolio-title {
  margin-bottom: 4px;
}
/*# sourceMappingURL=portfolio.css.map */