
// Colors
$primary-text-color:#757575;
$secondary-text-color: #FFFFFF;
$title-text-color: #212121;
$accent-text-color: #2196F3;
$logo-text-color:#000000;
$primary-bg-color: #FFFFFF;
$header-footer-bg-color: #2F303A;
$team-bg-color:#F5F4FA;
$header-bot-border: #ECECEC;
$portfolio-cards: #EEEEEE;
$icon-color: #AFB1B8;

// Fonts
$main-font: Roboto;
$raleway: Raleway;